/* HTML5 TEMLPATE - BUDOWANIE STRULTURY WITRYMY */

body {
    margin: 0;
    background-image:url("../images/gaming-pattern.png");
}

.container {
    background-color:white;
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    height: 500px; 
    border: 2px solid black;
}